body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  color: hsl(233, 8%, 62%);
  font-size: 18px;
  overflow-x: clip;

}

header {
  height: 50px;
  width: 100%;
  position: relative;
  z-index: 3;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ham, #navdropdown {
  display: none;
}

nav {

  height: 100%;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navs {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1rem;
  width: auto;
  transform: scale(1);
  transition: 100ms;
}

.navs:hover {
  color: black;
  border-bottom: solid;
  border-width: 5px;
  border-bottom-color: hsl(192, 70%, 51%);

}

.requestInvite {
  height: 30px;
  width: 150px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-image: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  transform: scale(1);
  transition: 100ms;
}

.requestInvite:hover {
  transform: scale(1.2);
}



section {
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: hsl(0, 0%, 98%);

}

.sectiontext {
  padding-left: 10%;
  height: auto;
  width: 400px;
  position: absolute;
  z-index: 3;

}

h1 {
  font-size: 40px;
  color: hsl(233, 26%, 24%);
}

.mobile {
  height: auto;
  width: auto;
  position: absolute;
  right: -10%;
  z-index: 2;
}

.mobile-back {
  display: none;
}

.back {
  position: absolute;
  right: -30%;
  z-index: 1;
}

main {
  position: relative;
  z-index: 1;
  height: 500px;
  width: 100%;
  background-color: hsl(220, 16%, 96%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  justify-content: space-around;
}

.container {
  margin-bottom: 10%;
  height: 80%;
  width: auto;
  margin-left: 10%;
  color: hsl(233, 26%, 24%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.maintext {
  height: 20%;
  width: 65%;

}

.bankfeatures {
  display: flex;
  height: 40%;
  width: 80%;
}

.features {
  margin: 20%;
}

article {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 98%);



}

h3 {
  font-size: 30px;
  margin-left: 10%;
  margin-bottom: 3%;
  color: hsl(233, 26%, 24%);
}

h5 {
  color: hsl(233, 26%, 24%);
}

h5:hover {
  color: hsl(192, 70%, 51%);

}

.articleContainer {
  height: 70%;
  width: 80%;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
}

.arti {
  width: 20%;
  background-color: white;
  white-space: wrap;
  text-overflow: hidden;

}

p {
  font-size: 14px;
  color: hsl(233, 8%, 62%);
}

.articleimg {
  height: 50%;
  width: 100%;
}


footer {
  height: 150px;
  width: 100%;
  font-size: 12px;
  background-color: hsl(233, 26%, 24%);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footerFirst {
  height: 40%;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.socialmedia {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

.social {

  color: white;
  transform: scale(1);
  transition: 100ms;
}

.social:hover {
  filter: invert(50%) sepia(50%) saturate(10) hue-rotate(90deg) brightness(100%) contrast(50%);
  transform: scale(1.3);

}

.footernav {
  display: flex;
  height: 60%;
  width: 20%;
  justify-content: space-around;
}

.navigators {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.navi {
  transform: scale(1);
  transition: 100ms;
}

.navi:hover {
  transform: scale(1.2);
  color: hsl(192, 70%, 51%);
}

.rights {
  display: flex;
  height: 40%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}





@media screen and (max-width:420px) {

  body {
    margin: 0;
    width: 100%;
    font-family: 'Public Sans', sans-serif;
    color: hsl(233, 8%, 62%);
    font-size: 18px;
    overflow-x: hidden;

  }

  header {
    height: 50px;
    width: 100%;
    position: absolute;
    z-index: 3;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  input[type="checkbox"]{
    visibility: hidden;
  }
  .ham {
    margin-right: 5%;
    display: flex;
  }

  .navs,
  .requesthead {
    height: 0;
    width: 0;
    display: none;
  }

  #close {
    display: none;
  }

  #open,
  #close {
    position: absolute;
    top: 40%;
    right: 5%;
    z-index: 4;
  }

  #open {
    height: 30%;

  }

  #navdropdown {
    margin: 0;
    width: 20rem;
    height: 20rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: black;
    position: absolute;
    top: 4rem;
    font-size: 18px;
    
  }
  
  #navdropdown{
    display: none;
  }

  section {
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 98%);
    position: relative;
    z-index: 1;
  }

  .sectiontext {
    margin: 0;
    height: auto;
    width: 90%;
    position: absolute;
    bottom: 10%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

  }

  h1 {
    font-size: 40px;
    color: hsl(233, 26%, 24%);
    text-align: center;
  }

  .mobile {
    height: 60%;
    width: auto;
    position: absolute;
    top: -10%;
    right: 0%;
    z-index: 3;
    overflow-x: clip;
  }

  .back {
    display: none;
  }

  .mobile-back {
    display: flex;
    position: absolute;
    z-index: 2;
    overflow-x: hidden;

  }

  main {
    height: auto;
    width: 100%;
    background-color: hsl(220, 16%, 96%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    justify-content: space-around;
  }

  .container {
    margin-bottom: 10%;
    height: 80%;
    width: auto;
    color: hsl(233, 26%, 24%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .maintext {
    margin-top: 10%;
    margin-bottom: 5%;
    height: auto;
    width: auto;
    text-align: center;

  }

  .bankfeatures {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
  }

  article {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 98%);
  }

  h3 {
    font-size: 30px;
    margin-bottom: 3%;
    color: hsl(233, 26%, 24%);
  }

  h5 {
    color: hsl(233, 26%, 24%);
  }

  h5:hover {
    color: hsl(192, 70%, 51%);

  }

  .articleContainer {
    height: auto;
    width: 100%;
    margin-left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .articontent {
    margin: 10%;
  }

  .arti {
    width: 80%;
    background-color: white;
    white-space: wrap;
    text-overflow: hidden;
    margin-bottom: 10%;
    align-self: center;
  }

  p {
    text-align: center;
    margin: 1rem;
    font-size: 14px;
    color: hsl(233, 8%, 62%);
  }

  .articleimg {
    height: 50%;
    width: 100%;
  }


  footer {
    height: 400px;
    width: 100%;
    font-size: 12px;
    background-color: hsl(233, 26%, 24%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .footerFirst {
    height: 30%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

  }

  .socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
  }

  .social {

    color: white;
    transform: scale(1);
    transition: 100ms;
  }

  .social:hover {
    filter: invert(50%) sepia(50%) saturate(10) hue-rotate(90deg) brightness(100%) contrast(50%);
    transform: scale(1.3);

  }

  .footernav {
    display: flex;
    height: 60%;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navigators {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .navi {

    transform: scale(1);
    transition: 100ms;
  }

  .navi:hover {
    transform: scale(1.2);
    color: hsl(192, 70%, 51%);
  }

  .rights {
    display: flex;
    height: 30%;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
  }
}